/*home section*/


.margin{
    margin-top: -20px;
    margin-left: 0px;

}

carousel-inner margin2{
    width: 100%;
}

#home {
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 300px;
    justify-content: center;
    align-items: center;
}

@media(max-width:600px)   {
    #home{
        width: 650px;
        min-height: 450px;
       padding-right: 300px;
    }
        }

/*services*/

#services {
    margin: 34px;
    display: flex;
}

#services .box {
    border: 2px solid greenyellow;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: rgb(214, 252, 210);
}

#services .box img {
    height: 160px;
    margin: auto;
    display: block;
}

/* contact section*/

#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background: url("contact.jpg")no-repeat center center/cover;
}

#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact.form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'bree serif', serif;
}

/*devloper*/
#devloper-section {
    height: 344px;
}

#devloper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#devloper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
    background: url("devlbg.jpg")no-repeat center center/cover;
}

.devloper-item {
    padding: 34px;
}

#devloper img {
    height: 220px;
}

/*footer*/

footer {
    background: black;
    color: yellowgreen;
    padding: 9px 20px;
}



/*utility classes*/
.h-primary {
    font-size: 3.8rem;
    padding: 12px;
}

.h-secondary {
    font-size: 2.8rem;
    padding: 12px;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: tomato;
    color: white;
    margin: 17px;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}

.center {
    text-align: center;
}



/* footer */

.footer1{
    background-color: black;
    color: white;

   }
   .footer1 h2{
       margin: 5px;
       padding: 8px;
       font-size: 25px;
       font-family: "Times New Roman", Times, serif;

   }
   .footer1 a{
       color: white;
   }
   .footer1 a:hover{
       color: ;
   }

   .footer1 p{
       margin: 5px;
       padding-top: 2px;
       padding-left: 10px;
       font-size: 18px;
       font-family: "Times New Roman", Times, serif;

   }
   .footer1 h2{margin: 5px;
       padding: 5px;
       border-bottom: 1px solid white;


   }
   /*==========================footer2===========================*/
   .footer2{

       background-color: #e6e6e6;
       color: black;

   }
   .footer2 p{
       margin: 8px;
       padding: 8px;
       font-size: 16px;
       font-family: "Times New Roman", Times, serif;

   }
   .myframegmap{

       border: 3px solid #f6f5f0;
       border-radius: 8px;
       height: 130px;
       width: 80%;
       box-shadow: 0px 0px 3px 3px #e7e4dc;
       overflow: hidden;
       position: relative;
       margin: 0 auto;

   }
