{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Course Contents</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<style>




.footer1{
 background-color: black;
 color: white;

}
.footer1 h2{
	margin: 5px;
	padding: 8px;
	font-size: 25px;
	font-family: "Times New Roman", Times, serif;

}
.footer1 a{
	color: white;
}
.footer1 a:hover{
	color: ;
}

.footer1 p{
	margin: 5px;
	padding-top: 2px;
	padding-left: 10px;
	font-size: 18px;
	font-family: "Times New Roman", Times, serif;

}
.footer1 h2{margin: 5px;
	padding: 5px;
	border-bottom: 1px solid white;


}
/*==========================footer2===========================*/
.footer2{

	background-color: #e6e6e6;
	color: black;

}
.footer2 p{
	margin: 8px;
	padding: 8px;
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;

}
.myframegmap{

    border: 3px solid #f6f5f0;
    border-radius: 8px;
    height: 130px;
    width: 80%;
    box-shadow: 0px 0px 3px 3px #e7e4dc;
    overflow: hidden;
    position: relative;
    margin: 0 auto;

}

</style>



<body>


    <nav class="navbar navbar-inverse text-align = center" >
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand fixed" href="index">Technoholic</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index">Home</a></li>
              <li><a href="#sevices">Services</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#devloper">Developer</a></li>
            </ul>

            <form class="navbar-form navbar-left" action="/action_page.php">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search">
                <div class="input-group-btn">
                  <button class="btn btn-default" type="submit">
                    <i class="glyphicon glyphicon-search"></i>
                  </button>
                </div>
              </div>
            </form>


            <ul class="nav navbar-nav navbar-right">
              <li><a href="signup.html" target="blank"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="login.html"  target="blank"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </div>
    </nav>


    <button class="collapsible">For JAVA</button>
    <div class="content">
        <ul>
            <a href="https://www.tutorialspoint.com/java/" target="_blank">Tutorials Point</a><br>
            <a href="https://www.javatpoint.com/java-tutorial" target="_blank">Java T Point</a><br>
            <a href="https://www.java2novice.com" target="_blank">Java 2 Novice</a><br>
            <a href="https://www.howtodoinjava.com" target="_blank">How to do in Java</a><br>
            <a href="https://www.w3schools.com/java/" target="_blank">W3 Schools</a><br>
            <a href="https://www.guru99.com/java-tutorial.html" target="_blank">Guru 99</a><br>
            <a href="https://www.geeksforgeeks.org/java-tutorials/" target="_blank">Geeks For Geeks</a><br>
            <a href="https://codescracker.com/java/index.htm" target="_blank">Codes Cracker</a><br>
        </ul>



         <button class="rgt">For C</button>

        <ul class="content">
            <a href="https://www.tutorialspoint.com/cprogramming/" target="_blank">Tutorials Point</a><br>
            <a href="https://www.javatpoint.com/c-programming-language-tutorial" target="_blank">Java T Point</a><br>
            <a href="https://www.w3schools.in/c-tutorial/" target="_blank">W3 Schools</a><br>
            <a href="https://www.guru99.com/c-programming-tutorial.html" target="_blank">Guru 99</a><br>
            <a href="https://www.learn-c.org/" target="_blank">Learn C</a><br>
            <a href="https://www.studytonight.com/c/" target="_blank">Study Tonight</a><br>
            <a href="https://www.geeksforgeeks.org/c-programming-language/" target="_blank">Geeks For Geeks</a><br>
            <a href="https://www.includehelp.com/c/" target="_blank">Include Help</a><br>
            <a href="https://codescracker.com/c/index.htm" target="_blank">Codes Cracker</a><br>
        </ul>

    </div>

    <button class="collapsible">For C++</button>
    <div class="content">
        <ul>
            <a href="https://www.tutorialspoint.com/cplusplus/" target="_blank">Tutorials Point</a><br>
            <a href="https://www.javatpoint.com/cpp-tutorial" target="_blank">Java T Point</a><br>
            <a href="https://www.w3schools.com/cpp/" target="_blank">W3 Schools</a><br>
            <a href="https://www.guru99.com/cpp-tutorial.html" target="_blank">Guru 99</a><br>
            <a href="https://www.studytonight.com/cpp/" target="_blank">Study Tonight</a><br>
            <a href="https://www.geeksforgeeks.org/c-plus-plus/" target="_blank">Geeks For Geeks</a><br>
            <a href="https://codescracker.com/cpp/" target="_blank">Codes Cracker</a><br>
        </ul>
    </div>

    <button class="collapsible">For JavaScript</button>
    <div class="content">
        <ul>
            <a href="https://www.tutorialspoint.com/javascript/" target="_blank">Tutorials Point</a><br>
            <a href="https://www.javatpoint.com/javascript-tutorial" target="_blank">Java T Point</a><br>
            <a href="https://www.w3schools.com/js/" target="_blank">W3 Schools</a><br>
            <a href="https://javascript.info/" target="_blank">Modern JavaScript</a><br>
            <a href="https://www.guru99.com/interactive-javascript-tutorials.html" target="_blank">Guru 99</a><br>
            <a href="https://www.geeksforgeeks.org/javascript-tutorial/" target="_blank">Geeks For Geeks</a><br>
            <a href="http://www.javascriptkit.com/javatutors/" target="_blank">JavaScript Kit</a><br>
            <a href="https://www.quackit.com/javascript/tutorial/" target="_blank">Quackit</a><br>
        </ul>
    </div>

    <button class="collapsible">For Python</button>
    <div class="content">
       <ul>
           <a href="https://www.tutorialspoint.com/python/" target="_blank">Tutorials Point</a><br>
           <a href="https://www.javatpoint.com/python-tutorial" target="_blank">Java T Point</a><br>
           <a href="https://www.w3schools.com/python/" target="_blank">W3 Schools</a><br>
           <a href="https://www.learnpython.org/" target="_blank">Learn Python</a><br>
           <a href="https://www.studytonight.com/python/" target="_blank">Study Tonight</a><br>
           <a href="https://codescracker.com/python/" target="_blank">Codes Cracker</a><br>
       </ul>
    </div>

    <button class="collapsible">For PHP</button>
    <div class="content">
        <ul>
            <a href="https://www.tutorialspoint.com/php/" target="_blank">Tutorials Point</a><br>
            <a href="https://www.javatpoint.com/php-tutorial" target="_blank">Java T Point</a><br>
            <a href="https://www.w3schools.com/php/" target="_blank">W3 Schools</a><br>
            <a href="https://www.guru99.com/php-tutorials.html" target="_blank">Guru 99</a><br>
            <a href="https://www.phptpoint.com/php-tutorial/" target="_blank">PHP T Point</a><br>
            <a href="https://www.geeksforgeeks.org/php/" target="_blank">Geeks For Geeks</a><br>
            <a href="https://www.tutorialrepublic.com/php-tutorial/" target="_blank">Tutorial Republic</a><br>
            <a href="https://phptherightway.com/" target="_blank">PHP The Right Way</a><br>
        </ul>
    </div>

    <button class="collapsible">For Ruby</button>
    <div class="content">
       <ul>
           <a href="https://www.tutorialspoint.com/ruby/" target="_blank">Tutorials Point</a><br>
           <a href="https://www.javatpoint.com/ruby-tutorial" target="_blank">Java T Point</a><br>
           <a href="https://www.studytonight.com/ruby/" target="_blank">Study Tonight</a><br>
           <a href="https://www.w3resource.com/ruby/" target="_blank">W3 Resources</a><br>
       </ul>
    </div>

    <button class="collapsible">For HTML</button>
    <div class="content">
        <ul>
            <a href="https://www.tutorialspoint.com/html/" target="_blank">Tutorials Point</a><br>
            <a href="https://www.javatpoint.com/html-tutorial" target="_blank">Java T Point</a><br>
            <a href="https://www.w3schools.com/html/" target="_blank">W3 Schools</a><br>
            <a href="https://www.learn-html.org/" target="_blank">Learn HTML</a><br>
            <a href="https://www.geeksforgeeks.org/html-tutorials/" target="_blank">Geeks For Geeks</a><br>
        </ul>
    </div>

    <button class="collapsible">For HTML5</button>
    <div class="content">
        <ul>
            <a href="https://www.tutorialspoint.com/html5/" target="_blank">Tutorials Point</a><br>
            <a href="https://www.w3schools.com/html/html5_intro.asp" target="_blank">W3 Schools</a><br>
            <a href="https://www.html5tutorial.info/" target="_blank">HTML5 Tutorial</a><br>
            <a href="http://tutorialspark.com/html5/index.php" target="_blank">Tutorials Park</a><br>
            <a href="https://www.html5canvastutorials.com/" target="_blank">Html5 Canvas Tutorials</a><br>
            <a href="http://www.freetimelearning.com/html5-tutorial.php" target="_blank">Free Time Learning</a><br>
        </ul>

    </div>

    </div>

        <!-- ============footer section ============ -->

    <footer>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="footer">
          <div class="footer1">
        <div class="container-fluid">

          <div class="container ">
          <div class="row">
            <div class="col-sm-4">
              <h2>About Us</h2><p>
                                   <div class="myframegmap">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14664.934312558262!2d77.42483967753938!3d23.234585807535893!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397c4269deb07df9%3A0xfee61a854a2e5374!2sMaharana%20Pratap%20Nagar%2C%20Bhopal%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1625379583661!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                            </div></p><br>
            </div>
            <div class="col-sm-4">
              <h2>Home</h2>
              <p>
                <i class="fa fa-home"></i>    <a href="#"> Home</a><br>
                <i class="fa fa-user-o"></i>    <a href="#"> About Us</a><br>
                <i class="fa fa-map-marker"></i>    <a href="#"> Contact Us</a><br>
                <i class="fa fa-briefcase"></i>    <a href="#"> Services</a><br>
                <i class="fa fa-question-circle"></i>    <a href="#"> Term & Conditions</a><br><br>


              </p>


            </div>
            <div class="col-sm-4 ">
              <h2>Contact Us</h2>
              <p >
                <i class="fa fa-phone"></i>    <a href="tel:0123456789"> +919155104355 , +919155022343 8210044671</a><br>
                <i class="fa fa-envelope"></i>    <a href="mailto:abc@abc.com"> amitpanday196@.com <br> kumarakshansha9572@gmail.com <br>mda97671@gmail.com</a><br>
                <i class="fa fa-map-marker"></i>     M.P.Nagar,Bhopal(MP) India
              </p>

              <br>
            </div>
          </div>
            <div class="clear30"></div>
        </div>
        </div></div>


        <div class="footer2">
          <div class="container-fluid">
          <div class="container">
            <div class="row">
              <div class="clear30"></div>
              <div class="col-sm-12 text-center"><p><strong>copyright &copy; 2021 All right reserved.</strong></p></div>
              <div class="clear30"></div>
            </div>

          </div>

        </div>
        </div>
        </div>
      </footer>
</body>

</html>
